p {
    font-size: 40px;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 80px;
    color: #955d02f2;
}

#orangeparagraph {
    font-size: 20px;
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    border: 5px outset blue;
    padding: 30px;
}

#discovery {
    border: 10px outset #a7d8fa;
    padding: 10px;
}

#images {
    border: 10px outset #a7e77e;
    padding: 10px;
}

.grey {
    border: 10px outset #a7a7a7;
    padding: 10px;
}