p {
    font-size: 40px;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 80px;
    color: #955d02f2;
}

#orangeparagraph {
    font-size: 20px;
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    border: 5px outset blue;
    padding: 30px;
}

#discovery {
    border: 10px outset #a7d8fa;
    padding: 10px;
}

#images {
    border: 10px outset #a7e77e;
    padding: 10px;
}

.grey {
    border: 10px outset #a7a7a7;
    padding: 10px;
}

/* Navigation styles */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    z-index: 1000;
    background-color: rgba(50, 50, 60, 0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.52);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    font-family: "Montseratt", sans-serif;
    font-size: 16px;
    color: #e6e6e6;
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s;
    padding-bottom: 5px;
    position: relative;
}

nav a:hover {
    color: #1b1b20;
    border-bottom: 2px solid #e6e6e6;
}